@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<style>
    .loginForm {
        /*      top: -30px;
                margin-top: 30px;*/
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15%;
        transform: translate(-49%, -49%);
    }

    .mid-div {
        text-align: center;
        display: flex;
        justify-content: center;
    }
</style>


<body class="text-center">
    <div class="left-div col-3"></div>
    <div class="mid-div col-6">
        <main class="w-100 m-auto">
            <form class="loginForm">
                <img class="mb-4" src="~/logo/user.png" alt="" width="100" height="100">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

                <div class="form-floating">
                    <input type="email" class="form-control" id="txtEmail" placeholder="Email">
                    <label for="floatingInput">Email address</label>
                    <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="txtPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                    <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div>
                </div>
                <button onclick="login()" class="w-100 btn btn-lg btn-success" type="button">Sign in</button>
                <p class="mt-5 mb-3 text-muted">© 2017–2022</p>
            </form>
        </main>
    </div>
    <div class="right-div col-3"></div>


    @*    <div data-lastpass-root="" style="position: absolute !important; top: 0px !important; left: 0px !important; height: 0px !important; width: 0px !important;"><div data-lastpass-infield="true" style="position: absolute !important; top: 0px !important; left: 0px !important;"></div></div>*@
</body>
<script>
    function login() {

        var userName = $("#txtEmail").val();
        var passWord = $("#txtPassword").val();
        var timeZone = "Asia/Manila";
        console.log("username", userName);
        console.log("pass", passWord);

        var loginData = {
            userName: userName,
            passWord: passWord,
            timeZone: timeZone
        };

        $.ajax({
            url: 'api/accountapi/login',
            type: 'POST',
            data: JSON.stringify(loginData),
            dataType: "json",
            contentType: 'application/json; charset=UTF-8',
            success: function (response) {
                console.log(response);
                localStorage.setItem('token', response.token);
                localStorage.setItem('refreshToken', response.refreshToken);
                window.location.href = "/Home/Index";
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>